# Install with "python -m pip install -r requirements.txt".
# names must be kept in sync with setup.py
# exact versions are tested in the azure-pipelines.yml config

requests==2.27.1
warcio==1.7.4
pyathena==2.3.2

# used by Makefile
pytest==6.2.5
pytest-cov==3.0.0
pytest-sugar==0.9.4
coveralls==3.3.1

# packaging
twine==3.7.1
setuptools==59.6.0
setuptools-scm==6.3.2
