# Install with "python -m pip install -r requirements.txt".

requests==2.23.0
warcio==1.7.3

# used by Makefile
coverage==5.1
pytest==5.4.2
pytest-cov==2.8.1
pytest-sugar==0.9.3
coveralls==2.0.0

# packaging
twine<2  # python 3.5
setuptools==46.4.0
setuptools-scm==3.5.0
